[Unit]
Description=datacache

[Service]
User=centos
Group=centos
ExecStart=/usr/bin/cache-filesystem /d /c/d/ /s3data/vt/
Restart=on-failure

[Install]
WantedBy=multi-user.target